.offcanvas {
    overflow-y: auto;
    width: 20% !important;
}

@media screen and (max-width: 992px){
    .offcanvas {
        width: 200px !important;
    }
}

.navbar {
    background-color: slategray !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.tipsCards {
    margin-right: 2%;
    height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.vpravo-zarovnanie {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.vpravo-zarovnanie-nazov {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
}

.vlavo-zarovnanie {
    display: flex;
    justify-content: flex-start;

}

.dropdown-item {
    background-color: lightsteelblue;
    font-style: italic;

}

.dropdown-menu {
    background-color: lightsteelblue;
}

.accordion-item {
    background-color: slategrey;
    color: white;
}

.accordion-button {
    background-color: darkslategrey;
    color: white;
}

/*hover prevzaty z bootstrapu*/
.btn-hover {
    border: none;
    font-size: 16px;
    margin: 2px;
    opacity: 0.6;
    transition: 0.3s;
}
.btn-hover:hover {opacity: 1}

.ingrediencie {
    border-left: 3px dashed black;
    padding-left: 10px;
    font-style: italic;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: auto;
}

.img-recept {
    box-shadow: 20px 20px 50px black;
    max-height: 100vh;
    object-fit: contain;
    overflow: hidden;
}

.cousine-img {
    max-width: 100%;
    box-shadow: 20px 20px 50px black;
}

.cousine-info {
    color: black;

}

.likes {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.heart-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ffffff;
    //background-color: #ff2200;
    color: black;
    //color: white;
}


main {
    margin-top: 75px;
    flex: 1;
}

html, body {
    /*height: 100%;*/
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Helvetica, "Roboto Light", sans-serif;
}
@media print {
    body {
        font-family: serif;
    }
}

* {
    box-sizing: border-box;
}

.stred {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bg-image {
    height: 50%;
    /*width: 100%;*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*selektor prevzaty z w3schools*/
.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.3);
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
}

/*zaklad prevzaty, pomenene tak aby to vyhovovalo*/
.bg-text-secondary {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-left: 5px solid white;
    position: absolute;
    padding: 20px;
    text-align: left;
    left: 60%;
}

@media screen and (max-width: 900px) {
    .bg-text {
        font-size: 40px;
    }
    .bg-text-secondary {
        font-size: 20px;
    }
    .bg-text-secondary-smaller {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .bg-text {
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .bg-text-secondary {
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.bg-text-secondary-smaller {
    font-size: 25px;
}

.bg-text1 {top: 110%;}
.bg-text2 {top: 210%;}
.bg-text3 {top: 310%;}
.bg-text4 {top: 410%;}
.bg-text5 {top: 510%;}
.bg-text6 {top: 610%;}

body {
    background-color: lightslategray;
}

footer {
    margin-top: auto;
}

.rec-f {
    padding-left: 20px;
}


@keyframes heartBeatAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}


.heartBeat {
    background-color: #ff2200;
    color: white;
    animation: heartBeatAnimation 0.5s ease-in-out;
}

.heartBeatBack {
    background-color: #ffffff;
    color: black;
}
